h1 {
	color: #8E70BC;
	text-align: justify;
	border: 2px solid black;
	background-color: #2f1f4f;
}

h2 {
	color: #A98BD9;
	text-align: justify;
	border: 2px solid black;
	background-color: #2f1f4f;
}

p {
	color: #DDBCFF;
	text-align: justify;
	font-family: Tahoma
}

li {
	color: #DDBCFF;
	text-align: justify;
	font-family: Tahoma
}

body {
	background-color: #493175;
}

body, html {
	height: 100%;
}

nav a {
	margin: 20px;
	border: 1 px solid #888;
	color: #DDBCFF
}

ul {
	text-align: justify;
	list-style-position: inside;
}

.color-properties {
	background-color: #3d2963;
}

.fancy-header {
	font-family: Courier New;
}

.toinen-otsikko {
	font-family: Courier New;
}

#image-float {
	float: left;
}